<%= content_for :title, "Sign up" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, placeholder: 'Email' %></div>

  <%= f.password_field :password, placeholder: 'Password' %></div>

  <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
