!!!
%html
  %head
    %title Tornado
    = stylesheet_link_tag "application", controller.controller_name, :media => "all"
    = javascript_include_tag "application", 'app-wide', controller.controller_name
    = csrf_meta_tags
  %body
    %header.navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        %h3= yield :title
        .pull-right
          - if current_user
            = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign in', new_user_session_path
    - unless notice.nil? or notice.empty?
      %p.alert.notice
        = notice
        %button.close{type: 'button', data: {dismiss: 'alert'}}
          &times;
    - unless alert.nil? or alert.empty?
      %p.alert.alert-error
        = alert
        %button.close{type: 'button', data: {dismiss: 'alert'}}
          &times;
    = yield
